@import url(https://fonts.googleapis.com/css?family=Pacifico);

.upload-icon {
  
   visibility: hidden;

}
body {
  background: #f2f2f2;
}
svg {
  
cursor:pointer;
    width: 98px;
    z-index: -1;
    height: 84px;
    margin-top: 12px;
  
  
  
}
.sun {
  
  transition :all 2s ease-in-out;
}
.camera {
  
  width: 90px;
  height: 90px;
    margin-left: 23em;
	margin-top: 3em;
  border-radius: 30px;
  position: relative;
  z-index: 25;
  cursor:pointer;
}
.camera .imageUp {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 150;
  cursor: pointer;
  outline: none;
  opacity: 0;
}


.img-div { 
    display: -webkit-inline-box;
  
  margin-left: -4em;
    margin-top: 5em; 

}
.img-div li { 
list-style-type:none;
}

.photo-picker {
    margin-top: 12em;
    position: relative;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);
    background-color: white;
    width: 800px;
    padding-bottom: 19px;
    margin-bottom: 5em;
    margin-left: 19em;

  
}
.photo-picker.open .preview-card {
  top: 100%;
  opacity: 1;
}
.photo-picker .preview-card {
  background: #fff;
  padding: 10px;
  width: 200px;
  z-index: 5;
  position: relative;
  left: 0;
  right: 0;
  top: 0;
  margin-left:50px;
  opacity: 0;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);
  -moz-transition: ease-out 0.5s 0.3s;
  -o-transition: ease-out 0.5s 0.3s;
  -webkit-transition: ease-out 0.5s;
  -webkit-transition-delay: 0.3s;
  -webkit-transition: ease-out 0.5s 0.3s;
  transition: ease-out 0.5s 0.3s;
}
.photo-picker .preview-card .photo-title {
  display: inline-block;
  font-size: 18px;
  line-height: 1;
  color: #555;
  margin-top: 8px;
  font-family: "Pacifico", cursive;
    width: 98%;
  overflow:hidden;
 
}
.photo-picker .preview-card .preview {
  width: 100%;
  border: 1px solid #ddd;
}
